/* ---- Universal Styles ---- */

@font-face {
    font-family: 'Metropolis';
    src: url('Resources/Fonts/Metropolis-Regular.woff2') format('woff2'),
         url('Resources/Fonts/Metropolis-Regular.woff') format('woff'),
         url('Resources/Fonts/Metropolis-Regular.ttf') format('truetype')
  }

html {
    font-size: 16px;
}

* {
    font-family: 'Metropolis';
}

/* Body Styles */
.main-menu span {
    display: flex;
    align-self: center;
    color: #a5a5a5;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.main-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    background-color: #181818;
}

.main-menu-logo {
    width: 3rem;
    height: 3rem;
    display: block;
    margin: 1rem auto 1rem auto;
}

#logo {
    color: #64ffda;
    fill: none;
}

.main-menu-logo path {
    z-index: 12;
}

.main-menu-nav {
    display: flex;
    flex-direction: column;
}

.about {
    margin-top: 1.5rem;
    border-top: 1px solid #282828;
}

.about, .skills, .work, .contact {
    color: #64ffda;
    font-size: 1.3rem;
    line-height: 3rem;
    padding: 1rem auto;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #282828;
}

.social {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1rem 0;
    padding: 0;
}

.social li {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 0;
}

.social svg {
    scale: 1;
    width: 100%;
}

/* Link Styles */

a:link {
    text-decoration: none;
}